{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container__block">
  <div class="content__section post-detail">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"><h3>Post Comment</h3></legend>
        {{ form|crispy }} {{ form.media }}
      </fieldset>
      <div class="from-group">
        <button class="btn button-first mt-3" type="submit">Comment</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
