{% extends "blog/base.html" %} {% block content %}
<div class="container__block">
  <article class="content__section post-detail">
    <div class="inner__body">
      <div class="article__metadeta">
        <img
          class="article__img mb-1 mx-2"
          src="{{ object.author.profile.image.url }}"
          alt="Author Picture"
        />
        <a href="{% url 'profile' %}" class="mr-2">{{ object.author }}</a>
        <small>{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
        <div class="inner__body">
          <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
        <hr />
      </div>
      <h3 class="article__title mb-4">{{ object.title }}</a></h3>
      <img class="mb-3" src="{{ object.cover_image.url }}" alt="Cover Image">
      <p class="article__content">{{ object.content | safe | linebreaksbr }}</p>
    </div>
  </article>
</div>
{% endblock content %}
